html, body{
    margin:0%;
    height: 100%;
}
#container{
    background-color:rgb(80, 80, 80);    
    
}
.footer{
    border-top:45px solid rgb(255, 196, 0);
    display: none;
}
.closeButton{
    color: black;
    float:right;
    font-size:30px;
    padding:10px;
}
.icons{
    height: 45px; 
    padding-right: 10px;   
}
#modal{
    display: none;
    position: fixed;
    z-index:1;
    height:100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.2);
}

#modal-content{
    background-color: rgb(39,39,39);
    margin:10% 25%;
    padding:5% 0% 2.5% 0%;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    text-align: center;
    /* color:rgb(255,196,0); */
    border:3px solid rgb(255,196,0);
}
#modal-content button{
    margin-top:5%;
    padding: 2% 2%;
    font-size: 90%;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(255,196,0);
}

#modalTextDiv{
    background-color: white;
    margin:0% 2% 0% 2%;
    padding:0% 0% 2% 0%;
}
form{
    display: block;
    box-sizing: border-box;
}

#centerDiv{
    background-color: rgb(39, 39, 39);
    height:inherit;
    width: 65%;
    margin-left: 17.5%;
    padding-top: 1%;
    padding-bottom:2.5%;
}
h1 {
    margin-top:0%;
    text-align: center;
    font-size:300%;
    color: rgb(255, 196, 0);
    text-decoration: underline;
    font-family:fantasy;
}
h2{
    text-align: center;
    font-size: 150%;
    color: rgb(255, 196, 0);
}


#searchBarDiv{
    padding-top:5%;
    text-align: center;
    display: inline;
}
#searchBarDiv input{
width: 70%;
padding:1% 1% 1% 1%;
border-radius: 10px;
}
#searchBarDiv button{    
    padding:1%;
    background-color: rgb(255, 196, 0);
    font-weight: bold;    
    border-radius: 10px;
}
#orderByDiv{
    width:25%;
    float:left;         
    padding:1% 0% 0% 37%;
    color: rgb(255, 196, 0);    
}
#orderByDiv select{
    margin:1% 0% 0% 27%;    
    padding:2%;
    width:50%;
    border-radius: 4px 4px;
}
#orderByDiv h2{
    margin:0%;
}

#searhFieldDiv{
    /* width: inherit; */
    width:100%;
    padding-left: 0%;
    margin-left:22%;
    float:left;
    display: flex;
}
#searchFielDiv img{
    height:inherit;
}
.item{    
    width:inherit;
    height: inherit;
    
}
.item input{
    height:60%;
    width: 50%;
    padding:0.25% 1% 0.75% 1%;
    border-radius: 10px;
}


.buttonClass {
    padding:1%;
    background-color: rgb(255, 196, 0);
    font-weight: bold;    
    border-radius: 10px;
    margin-left: 43.5%;
}
#movieListDiv{
    padding-top:5%;
}
#movieListDiv ul{
    column-count: 3;    
    width: 90%;
    padding-left: 5%;    
}
#movieListDiv li{    
    /* margin-left: 20%;                */
} 
.listItem {
    padding: 10px 5px ;
    text-align: center;
    /* border: 1px solid rgb(255, 196, 0); */
    list-style-type: none;    
}
p {
    margin:0%;
}
