html, body{
    margin:0%;
    height: 100%;
}
#container{
    background-color:rgb(80, 80, 80);    
    
}
.footer{
    border-top:45px solid rgb(255, 196, 0);
    display: none;
}
.closeButton{
    color: black;
    float:right;
    font-size:30px;
    padding:10px;
}
.icons{
    height: 45px; 
    padding-right: 10px;   
}
#modal{
    display: none;
    position: fixed;
    z-index:1;
    height:100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.2);
}

#modal-content{
    background-color: #f4f4f4;
    margin:10% 25%;
    padding:5% 0%;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    text-align: center;

}

#centerDiv{
    background-color: rgb(39, 39, 39);
    height:inherit;
    width: 65%;
    margin-left: 17.5%;
    padding-top: 1%;
    padding-bottom:2.5%;
}
h1 {
    margin-top:0%;
    text-align: center;
    font-size:300%;
    color: rgb(255, 196, 0);
    text-decoration: underline;
    font-family:fantasy;
}
h2{
    text-align: center;
    font-size: 150%;
    color: rgb(255, 196, 0);
}


#searchBarDiv{
    padding-top:5%;
    text-align: center;
    display: inline;
}
#searchBarDiv input{
width: 70%;
padding:1% 1% 1% 1%;
border-radius: 10px;
}
#searchBarDiv button{    
    padding:1%;
    background-color: rgb(255, 196, 0);
    font-weight: bold;    
    border-radius: 10px;
    
}
#orderByDiv{
    width:25%;
    float:left;
    text-align: center;
}
#orderByDiv select{
    padding:1% 5% 1% 5%;
}

#searhFieldDiv{
    width: inherit;
    padding-left: 25%;
float:left;
    display: flex;
}
.item{    
    width:inherit;
    height: inherit;
    
}
.item input{
    height:60%;
    width: 100%;
    padding:1% 1% 1% 1%;
    border-radius: 10px;
}


.buttonClass {
    padding:1%;
    background-color: rgb(255, 196, 0);
    font-weight: bold;    
    border-radius: 10px;
    margin-left: 47%;
}
#movieListDiv{
    padding-top:5%;
}
#movieListDiv ul{
    column-count: 3;    
    width: 90%;    
}
#movieListDiv li{    
    margin-left: 20%;               
} 
.listItem {
    padding: 10px 5px ;
    text-align: center;
    /* border: 1px solid rgb(255, 196, 0); */
    list-style-type: none;    
}
p {
    margin:0%;
}
